<table class="tg">
  <tr>
    <th class="tg-e3zv">Name: <br>Email: </th>
    <th class="tg-031e"><%= @current_user.full_name %><br><%= @current_user.email_address %><br>
  </tr>
  <tr>
    <td class="tg-e3zv">Order #</td>
    <td class="tg-e3zv">Order created</td>
  </tr>
  <% @online_orders.each do |order| %>
    <tr class = 'orders_smorders'>
      <td class="tg-031e" ><%= link_to order.id, user_online_order_path(current_user, order) %></td>
      <td class="tg-031e"><%= order.user.created_at.strftime("%b. %d, %Y") %></td>
  <% end %>
  </tr>
</table>
