<h1>congrats...you've been hired!</h1>
<p>this email is to inform you that you have been hired to work as a<strong> <%= @user_role.role.name %></strong> at <strong><%= @restaurant.name %></strong> </p>
<p>your starting salary will be 45 cents per hour... please know that you will be eligible for a raise and some vacation time after your 10th consecutive year of employment </p>
<p>welcome to the team!</p>
<p>Sincerly,</p>
<p>the automated email generator at mandrillapp.com</p>
<p>P.S.</p>
<p>your default user name is place_holder_name, and your password is password... please login to change these before our site gets hacked and you get fired</p>
