<h1>Hello <%= @user.full_name %>, this is your profile age</h1>
<ul>
  <p>these are the restaurants that you work at (if any)</p>
  <% @jobs.each do |job| %>
    <li><%= job.name %>... at <%= job.user_roles.where(user_id:@user.id).first.restaurant.name %></li>
  <% end %>
</ul>

<%= link_to "click here to edit your profile information", edit_user_path(@user) %>
