<h1>Welcome to Eatsy... where you eat food and we make money</h1>
<div class="span7 text-center">
  <button type="button" class="btn btn-default btn-lg"><%= link_to "Shop Restaurants",  restaurants_path %></button>
</div>
