/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


.field {
  text-align: left;
}

.form-control {
  width: 250px;
}
body {
  font-family: 'Lato', sans-serif;
}

.mix-target {
  display: none;
}

body {
  background-color: #008080;
  background-image: image-url("wood-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.main-headers {
  color: white;
  font-weight: bolder;
}

.nav-pills {
  text-align: center;
}

.nav-pills li {
  background-color: #ffffff;
  margin-bottom: 15px;
  border-radius: 5px;
  opacity: 0.9;
  padding-left: 20px;
  padding-right: 20px;
  margin-left:auto;
  margin-right:auto;
  display:block;
//  margin-top:22%;
//  margin-bottom:0%;
}

.nav-pills li a {
  color: #090909;
}

.button {

}


.thumbnail {
  opacity: 0.8;
  background-color: grey;
  text-align: center;
}

.thumbnail_index {
  opacity: 0.8;
  background-color: cadetblue;
  text-align: center;
}

.thumbnail_form {
  opacity: 0.8;
  background-color: grey;
  text-align: center;
}

#cart_button {
  background-color: white;
  border-radius: 5px;
  color: black;

}

.caption p {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  font-size: 1.25em;
}

.btn-success {
  color: white;
  background-color: #FF7F00;
}

//.navbar-brand {
//  position: absolute;
//  width: 100%;
//  left: 0;
//  top: 0;
//  text-align: center;
//  margin: auto;
//  padding-top: 5px;
//}
//
//.navbar-nav {
//  margin-bottom: 35px;
//}
//
//.navbar-default {
//  background-color: rgba(255,255,255,0);
//  border-color: rgba(255,255,255,0);
//  margin-bottom: 75px;
//}

h1 {
  color: #101010;
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  font-size: 60px;
  opacity: 0.8;
  text-align: center;
}

h2 {
  color: white;
}

h2 a, p {
  color: white;
  font-family: "PT Sans", sans-serif;
  //  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

h3 {
  color: white;
}

h4 a {
  color: white;
}

p {
  color: white;
}

#individual-item {
  text-align: center;
  color: white;
}

#create-new-item {
  text-align: left;
  color: black;
}

.field-button {
  text-align: center;
  color: black;
}

.field {
  color: white;
}

.field-user {
  color: black;
}

.dashboard-header h1, h2, h3, h4, ul, li{
  color:white;
}

.dashboard-header a {
  color: lightgrey;
  text-decoration: underline;
}

.table.table-hover.table-bordered {
  background-color: white;
}

.table.table-hover.table-bordered a {
  background-color: white;
  color:black;
}

.dropdown-menu {
  color: black;
}

#create-new-user {
  color: white;
}

